*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  min-width: 375px;
}
.sitename{
width: 20%;
}
.sitename img{
    width: 80%;
    
}
.custom-hover-link:hover {
    color: #458DA8!important;
    border: none;
  }
  .hero-bg-img{
    
    /* opacity: 0.5;// */
  }
  .hero-text{
    width: 50%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .title{
    font-size: 18px;
  }
  .title-para{
    font-size: 14px;
    line-height: 26px;
  }
  .title-logo{
    width: 80px;
    height: 80px;
  }
  .logo-img-section{
    width: 100px;
  }
  .lines-logo{
    height: 40px;
    border-radius: 40px;
    width: 100px;

  }
.lines-title-text{
  width: 80%;
}
.text-part{
  width: 40% !important;
  margin-top: 8%;
  height: 40%;
}
.box-1{
  width: 50%;
}
.activity-logo{
  font-size: 40px;
  background-color: #DFF5FD;
  width: 120px;
  height: 80px;
  border: 1px solid #89e0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.img-part{
  width: 50%;
}
.discount-boxes{
  
  background-color: #F6FBFC;

}
.discount-boxes-x-lines{
  color: #848788;
}
.her0-h1{
  font-size: 55px !important;
}
.text-main{
  width: 75%;
}

.image-feature-1{
  width: 100%;
}
.carousal-image{
  width: 170px;
  padding: 0px 30px 0px 30px;
}
.contact-logo{
  border-radius: 50px;
}
.call-us{
  /* border: 1px solid black; */
width: 25%;
}
.call-us-1{
  width: 50%;
}
.font-weight{
  font-weight: 500;
}
.footer-logo{
  border: 1px solid #3D4348;
  border-radius: 50px;
}
.news-letter{
  width: 30%;
}
.iframe-main{
  width: 50%;
}
.map-form{
  width: 50%;
}
.carousel-box{
  width: 25%;
}

  @media screen and (max-width:375px) {
    .quick-start{
        font-size: 44px !important;
    }
    .hero-text{
        padding-top: 50px;
      }
      .quick-h5{
            font-size: 14px;
      }
      .logo-img-section{
        width: 50px;
      } 
      .lines-title-text{
        width: 100%;
      }
      .text-part{
        width: 80%!important;
        margin: auto;
        margin-top: 8%;
        height: 40%;
      }
      .hero-text{
        width: 50%;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
      .her0-h1{
        font-size: 30px !important;
      }
      .hero-text{
        padding: 0%;
      }
      .img-part{
        width: 100%;
        padding-top: 10px;
      }
      .text-part{
        width: 100% !important;
        margin-top: 0%;
        height: 40%;
      }
.services-box-1{
width: 100%;
}
.activity-logo{
  font-size: 30px;
  background-color: #DFF5FD;
  width: 80px;
  height: 60px;
  border: 1px solid #89e0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.text-main{
  width: 100%;
  padding: 10px;
}
.section_image{
  text-align: center;
  padding-left: 15px;
  width: 95%;
}
.iframe-main{
  width: 100%;
  margin: auto;

}
.news-letter{
  width: 90%;
}
.call-us{
width: 100%;
}
.call-us-1{
  width: 100%;
}
.map-form{
  width: 100%;
}
.carousel-box{
  width: 50%;
}
  }




  @media screen and (min-width:376px) and (max-width:768px){
    .text-part{
      width: 100% !important;
      margin-top: 0%;
      height: 40%;
    }
    .img-part{
      width: 100%;
      padding-top: 10px;
    }
    .services-box-1{
      width: 100%;
      }
      .text-main{
        width: 100%;
        padding: 15px;
      }
      .iframe-main{
        width: 100%;
        margin: auto;
      
      }
      .news-letter{
        width: 90%;
      }
      .call-us{
      width: 100%;
      }
      .call-us-1{
        width: 100%;
      }
      .map-form{
        width: 100%;
      }
      .hero-text{
        width: 50%;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
      .carousel-box{
        width: 50%;
      }
  }